<!-- addPlayers.ejs -->

<%- include('layout', { title: 'Add Player' }) %>

<h1 class="form-title">Add Player</h1>

<form action="/addPlayers" method="POST" class="add-player-form">
    <label for="name" class="form-label">Name:</label>
    <input type="text" id="name" name="name" class="form-input" required>
    <br>

    <label for="position" class="form-label">Position:</label>
    <input type="text" id="position" name="position" class="form-input">
    <br>

    <label for="nationality" class="form-label">Nationality:</label>
    <input type="text" id="nationality" name="nationality" class="form-input">
    <br>

    <label for="shirtNumber" class="form-label">Shirt Number:</label>
    <input type="number" id="shirtNumber" name="shirtNumber" class="form-input">
    <br>

    <button type="submit" class="form-button">Add Player</button>
</form>

