<!-- home.ejs -->

<%- include('layout', { title: 'Home Page', body: '' }) %>

<h1>Welcome to the Home Page!</h1>

<div class="box" id="aboutApp">
    <h2>About the App:</h2>
    <p>The playersApp is a user-friendly app, which allows the fans of the game to:</p>
    <p>view, favorite, and share their favorite players with ease.</p>
</div>

<div class="box" id="instructions">
    <h2>Instructions:</h2>
    <p>The All Players page renders a set of players from the API.</p>
    <p>The Community Players page, allows you to view some of the communities favorite players.</p>
    <p>You can share some of your favorite players via the Add Players Form.</p>
    <p>Get creative and share big names or upcoming golden boys/girls!</p>
</div>

