<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/all-players">All Players</a></li>
        <li><a href="/my-players">My Players</a></li>
        <li><a href="/search-players">Search Players</a></li>
    </ul>
</nav>