<nav class = "navbar">
    <ul>
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/allPlayers" class="nav-link"> All Players</a></li>
        <li><a href="/myPlayers" class="nav-link">My Players</a></li>
        <li><a href="/searchPlayers" class="nav-link">Search Players</a></li>
    </ul>
</nav>